# Metasploit Framework Environment Variables

# Database Configuration
DATABASE_URL=postgres://postgres@db:5432/msf?pool=200&timeout=5

# SSH Configuration
SSH_PORT=22
ROOT_PASSWORD=8181

# Metasploit Handler Configuration
LHOST=0.0.0.0
LPORT_WINDOWS=4444
LPORT_ANDROID=8080

# Railway Specific
RAILWAY_TCP_PROXY_PORT=55001
RAILWAY_TCP_PROXY_DOMAIN=crossover.proxy.rlwy.net
